.footer-contain {
    bottom: 0 !important;
    position: relative;
}

.menu {
    box-shadow: none !important;
    border-bottom: none !important;
    height: 60px;
    background-color: rgb(255,255,255) !important;
    color: black;
    transition: height 300ms 0ms, background-color 300ms 0ms;
}

.menu.fade .active.item {
    color: white
}

.landing-menu {
    background-color: rgb(255,255,255) !important;
    color: white
}

.fade {
    background-color: rgba(0,0,0,0) !important;
    height: 100px;
    transition: height 0 1s, background-color 0 1s;
}

.fade.landing {
    background-color: rgb(87, 74, 194) !important;
}

.landing {
    height: 60px;
    background-color: rgba(0,0,0,0) !important
}

a.active.item {
    background-color: rgba(0,0,0,0) !important;
}

a.active.item:hover {
    color: rgb(197, 197, 197) !important
}

.item:hover {
    background: rgba(0,0,0,0) !important;
}   

.footer-links {
    padding: 0 !important
}

h4 {
    font-weight: bold;
}

ul {
    padding-left: 0;
}

ul li {
    list-style-type: none;
}

.content-contain {
    height: 100%;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;   
}

@media only screen and (max-width: 765px) {
    .footer {
        padding-top: 0 !important;
    }
    .three.wide.column.footer-links {
        padding: 0 !important
    }
    ul {
        margin: 0
    }
}